{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Ads list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Adtitle</th>
                <th>Adcontents</th>
                <th>Adpictureid</th>
                <th>Addate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('ads_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.adTitle }}</td>
                <td>{{ entity.adContents }}</td>
                <td>{{ entity.adPictureId }}</td>
                <td>{% if entity.adDate %}{{ entity.adDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('ads_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('ads_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('ads_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
