{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Comments list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Commentfrom</th>
                <th>Commentpostid</th>
                <th>Commentcontents</th>
                <th>Commentdate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('comments_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.commentFrom }}</td>
                <td>{{ entity.commentPostId }}</td>
                <td>{{ entity.commentContents }}</td>
                <td>{% if entity.commentDate %}{{ entity.commentDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('comments_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('comments_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('comments_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
